{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="setting-container">
    <div class="setting_container">
      <form action="" method="POST" class="setting_form">
        <h1>프로필 수정</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="setting_btn">프로필 수정</button>
            <hr>
        </form>
        <a href="{% url 'account_signup'%}" class="delete_btn">계정 삭제</a> <!--url바꿔야대-->
    </div>
  </div>
  {% endblock %}
  {% block footer %}
  <footer>
    <div class="footer-top">
      <a href="{% url 'demos:introduce' %}"><i class="ri-service-line"></i></a>
      <a href="{% url 'demos:aboutus' %}"><i class="ri-team-fill"></i></a>
      <a href="{% url 'demos:home' %}"><i class="ri-home-4-line"></i></a>
      <a href="{% url 'demos:guidemap' %}"><i class="ri-route-line"></i></a>
      <a href="{% url 'demos:qna' %}"><i class="ri-question-answer-fill"></i></a>
  </div>
    </footer>
    <style>
      .gotomypage{
          color: var(--icon);
      }
  </style>
{% endblock %}