.container {
  width: 480px;
  height: 100dvh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
}

main {
  flex-grow: 1;
  height: 100dvh;
}

:root {
  /* spacing */
  --gutter: 2rem;
  --padding: 1.6rem;
  --padding-sm: 1rem;

  /* fontsize */
  --heading: 1.6rem;
  --body: 1.4rem;

  /* color */
  --blue:	#CEDFF1;
  --btn: #AADBFF;
  --white: #fff;
  --gray: #c4c4c4;
  --icon: #4BCFEA;
}
