{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/reset.css'%}">  
    <link rel="stylesheet" href="{%static 'css/layout.css'%}"> 
    <link rel="stylesheet" href="{%static 'css/style-lyj.css'%}">
    <link rel="stylesheet" href="{%static 'css/style-pth.css'%}">
  </head>

  <body>
    <header>
        {% comment %}<div class="logo">
            <a href="{% url 'user:home' %}">
                <img src="{%static 'user/img/logo.png'%}" alt="logo">
            </a>
        </div>{% endcomment %}
        <div class="header-nav">
            <ul>
                <li><a href="{% url 'account_login' %}">Signin</a></li>
                <li><a href="{% url 'account_signup' %}">Signup</a></li>
                {% comment %}
                	<li><a href="{% url 'user:menu' %}">
                {% endcomment %}
                    <i src="" class="hamburger" alt="hamburger"></i>
                </a></li>
            </ul>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
  </body>
</html>

