{% extends "base.html" %}

{% block content %}
    <div class="guidemap-container">
        <div class="guidemap_container">
            <h2>Guide Map</h2>
            <div class="guidemap">
                가이드맵 이미지는 프로젝트 다 구현된 다음에 캡처해서 넣는게 나을듯??...
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-top">
            <a href="{% url 'demos:introduce' %}"><i class="ri-service-line"></i></a>
            <a href="{% url 'demos:aboutus' %}"><i class="ri-team-fill"></i></a>
            <a href="{% url 'demos:home' %}"><i class="ri-home-4-line"></i></a>
            <a href="{% url 'demos:guidemap' %}"><i class="ri-route-line"></i></a>
            <a href="{% url 'demos:qna' %}"><i class="ri-question-answer-fill"></i></a>
        </div>
    </footer>
{% endblock %}