{% extends "base.html" %}

{% block content %}
    <div class="home-container">
        <div class="search-box">    
            <form id="searchForm">      
                <input class = 'form-control' type="input" name="search_txt" placeholder="검색어를 입력하세요" />
            </form>
        </div>
        <button class="search-btn" onclick="saveSearchTextAndRedirect()">
            주변 주차장 찾기
        </button>        
    </div>
    <script>
        function saveSearchTextAndRedirect() {
            const searchValue = document.querySelector("input[name='search_txt']").value;
            localStorage.setItem('search_txt', searchValue);
            window.location.href = "{% url 'demos:map' %}";
        }

        document.addEventListener("DOMContentLoaded", function () {
            var searchForm = document.getElementById("searchForm");
            var searchInput = document.querySelector("input[name='search_txt']");

            searchForm.addEventListener("submit", function (event) {
                event.preventDefault(); 
                saveSearchTextAndRedirect(); 
            });
            searchInput.addEventListener("keydown", function (event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                    saveSearchTextAndRedirect(); 
                }
            });
        });
        </script>
{% endblock %}
{% block footer %}
        <footer>
        <div class="footer-top">
            <a href="{% url 'demos:introduce' %}"><i class="ri-service-line"></i></a>
            <a href="{% url 'demos:aboutus' %}"><i class="ri-team-fill"></i></a>
            <a href="{% url 'demos:home' %}"><i class="ri-home-4-line"></i></a>
            <a href="{% url 'demos:guidemap' %}"><i class="ri-route-line"></i></a>
            <a href="{% url 'demos:qna' %}"><i class="ri-question-answer-fill"></i></a>
        </div>
    </footer>
{% endblock %}