{% extends "base.html" %}

{% block content %}
    <div class="home-container">
        <div class="search-box">    
            <form action="/">      
              <input class = 'form-control' type="input" name="search_txt" placeholder="검색어를 입력하세요" />
            </form>
        </div>
        <button class="search-btn">
            <a href="{% url 'demos:search' %}" class = 'btn btn-secondary'>주변 주차장 찾기</a>
        </button>
    </div>


    <footer>
        <div class="footer-top">
            <a href="{% url 'demos:service' %}">서비스소개</a>
            <a href="{% url 'demos:review' %}">리뷰</a>
            <a href="{% url 'demos:community' %}">커뮤니티</a>
            <a href="{% url 'demos:work' %}">협력문의</a>
        </div>
        <div class="footer-bottom">
            <a href="{% url 'demos:github' %}"><i class="ri-github-fill"></i></a>
            <a href="{% url 'demos:email' %}"><i class="ri-mail-line"></i></a>
            <a href="{% url 'demos:insta' %}"><i class="ri-instagram-line"></i></a>
            <a href="{% url 'demos:facebook' %}"><i class="ri-facebook-circle-fill"></i></a>
        </div>
    </footer>
{% endblock %}