{% extends "base.html" %}

{% block content %}
    <div class="qanda-container">
        <div class="qanda_container">
            <div class="FQA">
                <h2>FAQ</h2>
                <div class="qanda_title">
                    <h3>Q. 어떤 서비스인가요?</h3>
                    <p>A. 주차장 실시간 정보를 제공하여 전국 운전자들의 주차 스트레스를 해소함과 동시에 불법 주정차 등의 사회적인 문제를 해결하기 위한 서비스입니다.</p>
                </div>
                <div class="qanda_title">
                    <h3>Q. 남은 자리가 뜨지 않는 주차장이 있는데, 왜 그렇나요? </h3>
                    <p>A. 현재 서울의 시영주차장만을 대상으로 실시간 서비스를 제공중입니다. 앞으로 더 많은 지역의 데이터를 추가할 예정입니다.</p>
                </div>
            </div>
            <div class="contact">
                <h2>Contact</h2>
                <div class="contact_title">
                    <h3>문의사항이 있으신가요?</h3>
                    <p>아래의 채팅으로 문의사항을 보내주시면 빠른 시간 내에 답변드리겠습니다.</p>
                    <button onclick="window.location.href='{% url 'demos:qanda_list' %}'">문의하러 가기</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
    <footer>
        <div class="footer-top">
            <a href="{% url 'demos:introduce' %}"><i class="ri-service-line"></i></a>
            <a href="{% url 'demos:aboutus' %}"><i class="ri-team-fill"></i></a>
            <a href="{% url 'demos:home' %}"><i class="ri-home-4-line"></i></a>
            <a href="{% url 'demos:guidemap' %}"><i class="ri-route-line"></i></a>
            <a href="{% url 'demos:qna' %}"><i class="ri-question-answer-fill"></i></a>
        </div>
    </footer>
    <style>
        .ri-question-answer-fill{
            color: var(--icon);
        }
    </style>
{% endblock %}