{% extends "base.html" %}

{% block content %}
    <div class="qanda-container">
        <div class="qanda_container">
            <div class="FQA">
                <h2>FAQ</h2>
                <div class="qanda_title">
                    <h3>Q. 지성 Park 서비스는 어떤 서비스인가요?</h3>
                    <p>A. 지성 Park 서비스는 전국 운전자들의 주차 스트레스를 해소함과 동시에 주차 문제로 발생하는 불법 주정차 등의 사회적인 문제를 해결하기 위해서 만들어진 서비스입니다.</p>
                </div>
                <div class="qanda_title">
                    <h3>Q. 실시간 데이터를 제공하지 않는 지역이 있나요?</h3>
                    <p>A. 현재 실시간 데이터를 제공하지 않는 지역이 존재하여 일부 지역을 대상으로만 실시간 서비스를 제공중입니다. 앞으로 더 많은 지역에 해당 추가할 예정입니다.</p>
                </div>
            </div>
            <div class="contact">
                <h2>Contact</h2>
                <div class="contact_title">
                    <h3>문의사항이 있으신가요?</h3>
                    <p>아래의 채팅으로 문의사항을 보내주시면 빠른 시간 내에 답변드리겠습니다.</p>
                    <button onclick="window.location.href='{% url 'demos:qanda_list' %}'">문의하러 가기</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-top">
            <a href="{% url 'demos:introduce' %}"><i class="ri-service-line"></i></a>
            <a href="{% url 'demos:aboutus' %}"><i class="ri-team-fill"></i></a>
            <a href="{% url 'demos:home' %}"><i class="ri-home-4-line"></i></a>
            <a href="{% url 'demos:guidemap' %}"><i class="ri-route-line"></i></a>
            <a href="{% url 'demos:qna' %}"><i class="ri-question-answer-fill"></i></a>
        </div>
    </footer>
{% endblock %}