{% extends "base.html" %}

{% block content %}
    <div class="qanda-container">
        <div class="qanda_container">
            <div class="qna_container">
                <a href="{% url 'demos:qna' %}"><i class="ri-close-large-line"></i></a>
            </div>
            <div class="qna_container2">
                {% if qna_list %}
                <p class="before-qna">이전 문의</p>
                {% endif %}
                {% for qna in qna_list %}
                    <a href="{% url 'demos:qna_detail' qna.id %}" class="qna-title">{{ qna.title }}  {{ qna.updated_date|date:"y.m.d" }}</a>
                {% endfor %}
                <a href="{% url 'demos:qanda_create'%}" class="btn-primary">새로운 문의 생성</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-top">
            <a href="{% url 'demos:introduce' %}">Service</a>
            <a href="{% url 'demos:aboutus' %}">About Us</a>
            <a href="{% url 'demos:guidemap' %}">Guide Map</a>
            <a href="{% url 'demos:qna' %}">Q&A</a>
        </div>
        <div class="footer-bottom">
            <a href="{% url 'demos:github' %}"><i class="ri-github-fill"></i></a>
            <a href="{% url 'demos:email' %}"><i class="ri-mail-line"></i></a>
            <a href="{% url 'demos:insta' %}"><i class="ri-instagram-line"></i></a>
            <a href="{% url 'demos:facebook' %}"><i class="ri-facebook-circle-fill"></i></a>
        </div>
    </footer>
{% endblock %}